<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="16581aed-38c5-49b6-b980-bbce326633e6" name="TestSuite 2" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="16581aed-38c5-49b6-b980-bbce326633e6fileName">TestSuite-2</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>