<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="32a8db4f-72ae-4179-bf45-516856618571" name="TestSuite 2" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="32a8db4f-72ae-4179-bf45-516856618571fileName">TestSuite-2</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>